body {
    background: var(--color-primary);
}

.theme-light {
    --color-primary: #ffffff;
    --color-secondary: #0023DB;
    --font-color: #373737;
}
.theme-dark {
    --color-primary: #373737;
    --color-secondary: #ffffff;
    --font-color: #ffffff;
}

span {
    text-transform: uppercase;
    color: var(--color-secondary);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.home {
margin-left: 58px;
}

.photoapp {
    margin-left: 58px;
}

.design {
    margin-left: 58px;
}

.download {
    margin-left: 58px;
}

.menu {
    width: 720px;
    height: 15px;
    margin-top: 32px;
    margin-bottom: 32px;
    left: 50%;
    margin-left: -360px;
    position: relative;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--color-secondary)B;
}

a:hover {
    color: cornflowerblue;
}

.img {

    width: 100%;
    height: 100%;
    text-align: center;

}

h1 {
    text-align: center;
    margin-top: 47px;
    margin-bottom: 44px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3.3px;
    font-size: 22px;
    color: var(--font-color);
    font-weight: bold;
}

.paragraph1, .paragraph2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: var(--font-color);
    margin-top: 25px;
    margin-left: 68px;
    margin-right: 67px;
    position: relative;
    line-height: 24px;
}

button {
    display: block;
    margin: 53px auto;
    width: 194px;
    height: 54px;
    border-radius: 5px;
    background-color: #0023DB;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    outline: none;
}

.rights {
    display: block;
    align-items: flex-end;
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: var(--font-color);
    text-align: right;
    margin-right: 120px;
    letter-spacing: 2.4px;
    padding: 10px;
    margin-bottom: 55px;

}